<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>皇国百人一首かるた 翻字データベース</title>
    <link href="./style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js" integrity="sha256-KSlsysqp7TXtFo/FHjb1T9b425x3hrvzjMWaJyKbpcI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsstore@3.11.1/dist/jsstore.min.js" integrity="sha256-NIIG2kJe42x5/1PKOoT+7L+AprcRlLp69wNgDQ+AX6Q=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsstore@3.11.1/dist/jsstore.worker.min.js" integrity="sha256-POa8ml6wmhZSpY2gUxNbSfYaQ87qe3whlJoYadeJDaY=" crossorigin="anonymous"></script>
    <style>
.serif {
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HGS行書体", "Yu Mincho", "HGS明朝B", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 3rem;
}
td {
  text-align: center;
}
    </style>
  </head>
  <body>
    <h1>皇国百人一首かるた 翻字データベース</h1>
    <div id="app">
      <button @click='initData(true)'>initData</button>
      データを読み込むにはこちらのボタンを押してください
      <br>
      歌番号:
      <select v-model="uta" :disabled="utaOptions.length==0">
        <option value="">すべて</option>
        <option :value="n" v-for="n in utaOptions">{{ n }}</option>
      </select>
      <span v-if="utaOptions.length==0">計算中...</span>
      <br>
      文字:
      <select v-model="char" :disabled="charOptions.length==0">
        <option value="">すべて</option>
        <option :value="ch" v-for="ch in charOptions">{{ ch }} U+{{ getUnicodeHex(ch) }}</option>
      </select>
      <span v-if="charOptions.length==0">計算中...</span>
      <span v-if="char">
        [<a :href="getURL_wiktionary(char)" target="_blank" rel="noopener noreferrer">wiktionary</a>]
        [<a :href="getURL_glyphwiki(char)" target="_blank" rel="noopener noreferrer">glyphwiki</a>]
        [<a :href="getURL_unicodeorg(char)" target="_blank" rel="noopener noreferrer">unicode.org</a>]
      </span>
      <br>
      字母:
      <select v-model="jibo" :disabled="jiboOptions.length==0">
        <option value="">すべて</option>
        <option :value="jb" v-for="jb in jiboOptions">{{ jb }}</option>
      </select>
      <span v-if="jiboOptions.length==0">計算中...</span>
      <span v-if="jibo">
        [<a :href="getURL_wiktionary(jibo)" target="_blank" rel="noopener noreferrer">wiktionary</a>]
        [<a :href="getURL_glyphwiki(jibo)" target="_blank" rel="noopener noreferrer">glyphwiki</a>]
        [<a :href="getURL_unicodeorg(jibo)" target="_blank" rel="noopener noreferrer">unicode.org</a>]
      </span>
      <br>
      周辺サイズ:
      <input type="number" v-model="zoomMargin">
      <br>
      <div>
      <table style="display:inline-block">
        <thead>
          <tr>
            <th>#</th>
            <th>uta</th>
            <th>ku</th>
            <th>pos</th>
            <th>x</th>
            <th>y</th>
            <th>w</th>
            <th>h</th>
            <th>char</th>
            <th>jibo</th>
            <th>image</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(anno, index) in currentAnnos">
            <td>{{ anno.index }}</td>
            <td>{{ anno.uta }}</td>
            <td>{{ anno.ku }}</td>
            <td>{{ anno.pos }}</td>
            <td>{{ anno.x }}</td>
            <td>{{ anno.y }}</td>
            <td>{{ anno.w }}</td>
            <td>{{ anno.h }}</td>
            <td class="serif">{{ anno.char }}</td>
            <td class="serif">{{ anno.jibo }}</td>
            <td>
              <img
                :src="anno.image + '/' + anno.x + ',' + anno.y + ',' + anno.w + ',' + anno.h + '/40,/0/default.jpg'"
                :data-index="index"
                v-on:mouseover="charHover" v-on:mouseleave="charLeave"
                >
            </td>
          </tr>
        </tbody>
      </table>
      <div style="display:inline-block;vertical-align:top;position:fixed;top:50px;">
        <img :src="zoomOutUrl">
      </div>
      </div>
    </div>
    <script>
      const DB_SCHEMA = {
        name: 'tirdb_jr24_2020',
        tables: [{
          name: 'Annos',
          columns: {
            //id: { primaryKey: true, autoIncrement: true },
            uta: { notNull: true, dataType: "number" },
            ku: { notNull: true, dataType: "number" },
            pos: { notNull: true, dataType: "number" },
            x: { notNull: true, dataType: "number" },
            y: { notNull: true, dataType: "number" },
            w: { notNull: true, dataType: "number" },
            h: { notNull: true, dataType: "number" },
            char: { notNull: true, dataType: "string" },
            jibo: { notNull: true, dataType: "string" },
            image: { notNull: true, dataType: "string" },
          },
        }],
      };

      window.vue = new Vue({
        el: '#app',
        data: {
          utaOptions: [],
          charOptions: [],
          jiboOptions: [],
          currentAnnos: [],
          uta: '',
          char: '',
          jibo: '',
          zoomMargin: 100,
          zoomOutUrl: null,
          message: '',
        },
        mounted() {
          this.initApp();
        },
        methods: {
          async initApp() {
            await this.initData();
          },
          async initData(force=false) {
            this.utaOptions = [];
            this.charOptions = [];
            this.jiboOptions = [];

            console.log( 'DB を開いています...' );
            if (!this.dbCon) {
              this.dbCon = new JsStore.Connection();
            }

            const isDbExist = await this.dbCon.isDbExist(DB_SCHEMA.name);
            if (!force && isDbExist) {
              // 既に DB が存在する場合はそちらを使う
              console.log('既存の DB を読み込みます。');
              await this.dbCon.openDb(DB_SCHEMA.name);
            } else {
              if (isDbExist) {
                console.log('既存の DB を消去します');
                await this.dbCon.dropDb(DB_SCHEMA.name);
              }
              console.log('DB を新規作成します');
              const isDbCreated = await this.dbCon.initDb(DB_SCHEMA);
              console.log(isDbCreated);

              console.log( 'データをダウンロードしています...' );
              const url = 'https://script.google.com/macros/s/AKfycbzXyMjeM_GqhdpybCtaTXGAdjjUeKexjeE9c0tx4Q/exec';
              // const url = './annos.json';
              console.log( url );
              const response = await fetch(url);
              console.log( 'データのダウンロードが完了しました' );
              const annos = await response.json();
              console.log( `ダウンロードしたデータ: ${ annos.length } 件` );

              annos.forEach((anno, index) => {
                anno.index = index + 1;
                if (anno.jibo == '') {
                  anno.jibo = '■';
                }
                if (anno.image.slice(0, 8) != 'https://' && anno.image.slice(0, 7) != 'http://') {
                  anno.image = 'https://iiif.tiramis2.doshisha.ac.jp/v3/image/' + anno.image + '.tif';
                }
              });

              // 追加用データを準備する
              const values = annos.filter(anno => anno.x != '');
              console.log( `追加するデータ（不正なレコードを除く）: ${ values.length } 件` );

              // データをテーブルに追加する
              const noOfRowsInserted = await this.dbCon.insert({
                into: 'Annos',
                values: values.slice(),
              }).catch(error => { console.log(error); });
              console.log( `テーブルに追加したデータ: ${ noOfRowsInserted } 件` );
            }

            const count = await this.dbCon.count({from:'Annos'});
            console.log( `テーブルに存在するデータ: ${ count } 件` );

            console.log( '読み込み完了' );

            await this.calcAllOptions();
          },
          getCriteria(ignore) {
            const criteria = {};
            if (ignore != 'uta' && this.uta) criteria.uta = this.uta;
            if (ignore != 'char' && this.char) criteria.char = this.char;
            if (ignore != 'jibo' && this.jibo) criteria.jibo = this.jibo;
            if (Object.keys(criteria).length === 0) {
              return null;
            }
            console.log( criteria );
            return criteria;
          },
          async calcOptions(column, compare) {
            console.log( `[start] calcOptions: ${column}` );
            const query = {
              from: 'Annos',
              groupBy: column,
            };
            const criteria = this.getCriteria(column);
            if (criteria) {
              query.where = criteria;
            }
            console.log( query );
            const candidates = await this.dbCon.select(query);
            const newOptions = candidates.map(anno => anno[column]).sort(compare);
            console.log( column + 'Options' );
            this[column + 'Options'] = newOptions;
            console.log( `[start] calcOptions: ${column}` );
          },
          async calcUtaOptions() {
            this.utaOptions = [];
            await this.calcOptions('uta', (a, b) => a - b);
          },
          async calcCharOptions() {
            this.charOptions = [];
            await this.calcOptions('char');
          },
          async calcJiboOptions() {
            this.jiboOptions = [];
            await this.calcOptions('jibo');
          },
          async calcAllOptions() {
            this.utaOptions = [];
            this.charOptions = [];
            this.jiboOptions = [];
            await this.calcUtaOptions();
            await this.calcCharOptions();
            await this.calcJiboOptions();
            await this.calcAnnosList();
          },
          async calcAnnosList() {
            console.log( '[start] calcAnnosList' );
            this.currentAnnos = [];
            const query = { from: 'Annos' };
            const criteria = this.getCriteria();
            if (criteria == null) return;
            query.where = criteria;
            const candidates = await this.dbCon.select(query);
            console.log( candidates );
            this.currentAnnos = candidates;
            console.log( '[end] calcAnnosList' );
          },
          charHover(event) {
            const index = parseInt(event.target.dataset['index']);
            const anno = this.currentAnnos[index];
            const marginPx = parseInt(this.zoomMargin) || 0;
            const x = Math.max(0, anno.x - marginPx);
            const y = Math.max(0, anno.y - marginPx);
            const w = anno.x + anno.w + marginPx - x;
            const h = anno.y + anno.h + marginPx - y;
            this.zoomOutUrl = anno.image + "/" + x + "," + y + "," + w + "," + h + "/,300/0/default.jpg";
          },
          charLeave(x) {
            this.zoomOutUrl = null;
          },
          getUnicodeHex(ch) {
            return ch.codePointAt(0).toString(16);
          },
          getURL_wiktionary(ch) {
            return 'https://en.wiktionary.org/wiki/' + encodeURIComponent(ch);
          },
          getURL_glyphwiki(ch) {
            return 'https://glyphwiki.org/wiki/u' + this.getUnicodeHex(ch);
          },
          getURL_unicodeorg(ch) {
            return 'https://util.unicode.org/UnicodeJsps/character.jsp?a=' + this.getUnicodeHex(ch).toUpperCase();
          },
        },
        watch: {
          utaOptions: {
            handler(newVal, oldVal) { this.utaOptions = newVal; },
            deep: true,
          },
          charOptions: {
            handler(newVal, oldVal) { this.charOptions = newVal; },
            deep: true,
          },
          jiboOptions: {
            handler(newVal, oldVal) { this.jiboOptions = newVal; },
            deep: true,
          },
          currentAnnos: {
            handler(newVal, oldVal) { this.currentAnnos = newVal; },
            deep: true,
          },
          uta() { this.calcAllOptions(); },
          char() { this.calcAllOptions(); },
          jibo() { this.calcAllOptions(); },
        },
      });
    </script>
    <hr>
    <h3>このページについて</h3>
    <p>このデータベースは，<a href="https://www.cis.doshisha.ac.jp/">同志社大学文化情報学部</a>「ジョイント・リサーチ」クラス24による成果の一部をまとめたものです。</p>
    <ul>
      <li>公開リソース（Public）
        <ul>
          <li>
            <a href="https://tiramis2.doshisha.ac.jp/jr24-2020a/mirador.html">
              <img style="height:16px;vertical-align:top;" src="https://projectmirador.org/img/mirador-logo.svg">
              皇国百人一首かるた (Mirador 改良版)
            </a>
          </li>
          <li>
            <a href="https://gitlab.com/dfukagaw/ducis-jr24-2020">
              <img src="https://about.gitlab.com/ico/favicon-16x16.png">
              Repository (GitLab)
            </a>
          </li>
        </ul>
      </li>
      <li>作業用リソース（Private）
        <ul>
          <li>
            <a href="https://drive.google.com/drive/folders/1HineKJCRyqGhcpOFFnimLih4L4ZJJPMD?usp=sharing">
              <img style="height:16px;vertical-align:top;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Google_Drive_icon_%282020%29.svg/269px-Google_Drive_icon_%282020%29.svg.png">
              Google Drive Folder: JR24-2020
            </a>
          </li>
          <li>
            <a href="https://docs.google.com/spreadsheets/d/1-uPe7Tlsi-iVusSjdHPcJJKvrrv4vNo5n8J4pTk7lQA/edit?usp=sharing">
              <img style="height:16px;vertical-align:top;" src="https://ssl.gstatic.com/docs/spreadsheets/favicon3.ico">
              Google SpreadSheet: 皇国百人一首001-100
            </a>
          </li>
        </ul>
      </li>
      <li>関連 URL
        <ul>
          <li>
            <a href="https://tiramis.doshisha.ac.jp/duoc2019/" target="_blank" rel="noopener noreferrer">『昔の文字を計算機で「読む」』（同志社大学 オープンキャンパス2019 文化情報学部ワークショップ）</a>
          </li>
          <li>
            <a href="https://www.nijl.ac.jp/koten/kuzushiji/post.html" target="_blank" rel="noopener noreferrer">くずし字って何？（国文学研究資料館）</a>
          </li>
          <li>
            <a href="http://codh.rois.ac.jp/char-shape/hentaigana/" target="_blank" rel="noopener noreferrer">Unicode変体仮名一覧（人文学オープンデータ共同利用センター）</a>
          </li>
        </ul>
      </li>
    </ul>
    <p>お問い合わせは<a href="mailto:dfukagaw@mail.doshisha.ac.jp">深川大路</a>まで</p>
  </body>
</html>
