.wf-mplus1p { font-family: "Mplus 1p"; }
.wf-roundedmplus1c { font-family: "Rounded Mplus 1c"; }
body {
  background-color: #eeeeee;
}
#osdbox {
  background-color: #ffffff;
  width: 800px;
  height: 600px;
}
.openseadragon-canvas {
  outline: none;
}
#markdown {
  display: none;
}
code {
  background-color: #f9f2f4;
  color: #c7254e;
  border-radius: 4px;
  padding: 2px 4px;
  letter-spacing: +.2ex;
  font-weight: bolder;
}
table {
  border-collapse: collapse;
  border: 1px solid #333333;
  margin: 5px;
}
th, td {
  border: 1px solid #333333;
  padding: 2px 4px;
}
th {
  background-color: #eeeeff;
  color: #333399;
}
td {
  background-color: #ffffff;
}
